.parent{
    display: block;
    width: 50px;
    height: 50px;
    background-color: red;

    position: relative;
    top:20px
}

.son{
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgb(68, 0, 255);


    position: absolute;
    top: 10px;
    left:10px
}